.title{
	text-align: center;
	background-color: #db2525;
}
/*note, do we want to add in borders around the two main divisions? */
.views{
	display:inline-block;
	float: left;
    text-align: left;
    overflow:auto;
}
.padded{
    padding:2px;
}
.container{
    border:2px solid #999999;
}
h3{
	text-align: center;
}
.keyText{
    text-anchor:left;
    font-size: 12px;
    fill: #565656;
    stroke-width: 0.1px;
}
.countries {
    stroke: #999999;
    fill: #d9d9d9;
}
.selectedCountries {
    stroke: #999999;
    fill: #a3c2db;
}
.selectedListItem {
    background: #a3c2db;
}
ul{
  list-style:none;
    max-height:581px;
    width: 231px;
  margin:0;
  overflow-y: scroll;
  padding:0;
  /*text-indent:10px; */
}
