/* html properties */
.title{
    margin: 60px;
}
h1{
	color: #db2525;
}
h3{
    font-size: 20px;
    margin-top:5px;
}
h5{
    margin-top:6px;
    margin-bottom:6px;
}
.description{
	margin-left:60px;
	margin-bottom:300px;
	max-width:800px;
}
body{
    padding-left: 40px;
}
caption{
    color:black;
    font-size:18px;
    padding:0px;
    font-weight:bold;
}

/* div properties */
.views{
	display:inline-block;
	float: left;
    text-align: left;
    overflow:auto;
}

.viewsD{
	display:inline-block;
    padding-bottom:40px;
	float: left;
    text-align: left;
	list-style:none;

}


#search {
    width: 194px; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 8px 8px 8px 8px; /* Add some padding */
    border: 2px solid #999999; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#details {
	width: 685px;
	height: 270px;
    font-size: 14px;
    margin:0;
    overflow-x: hidden;
    overflow-y:auto;
    padding:0;
}

.padded{
    padding:2px;
}
.container{
    border:2px solid #999999;
}

/*key properties*/
.keyText{
    text-anchor:start;
    font-size: 14px;
    stroke-width: 0.1px;
    font-family: "times new roman";
}
.selectedKey{
    fill:#dbe4f0;
    opacity: .3;
    stroke:#708090;
}
.unselectedKey{
    fill:white;
    opacity:0;
}
.buttonText{
    fill:white;
    text-anchor:start;
    font-size: 14px;
    font-family: "times new roman";
    pointer-events: none;
}
/*"#5a91bf", "#a3c2db", "#f7d4d4", "#e77e7e", "#d62929", "#8c8c8c", "#666666"*/
.selectedButton{
    fill:#5a91bf;
    stroke:#24435c;
}
.unselectedButton{
    fill:#a3c2db;
    stroke:#4078a5;
}
.axis{
    font-size:12px;
    text-anchor:end;
    font-family: "times new roman";
}
.sort{
    fill:white;
    opacity:0;
}
.sortSelect{
    fill:#dbe4f0;
    opacity:.5;
}
line{
    stroke: #000000;
}

/* chart properties */
.highlight{
    fill:none;
    stroke: #708090;
}
.division{
    fill:white;
}
.EX, .EW, .CR, .EN, .VU, .NT, .LC, .DD, .highlight{
    pointer-events: none;
}
.chartTip {
    max-width: 160px;
    border-style: groove;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    pointer-events: none;
    font-family: "times new roman";
}

/* map properties */
.countries {
    stroke: #999999;
    fill: #cccccc;
}
.selectedCountries {
    stroke: #999999;
    fill: #91b6d4;
}
.worldTip {
    max-width: 120px;
    border-style: groove;
    padding: 2px;
    background: #FFFFFF;
    border-radius: 10px;
    pointer-events: none;
}

/* list properties */
.listTitle {
    font-weight: bold;
}
.selectedListItem {
    background: #dae7f1;
}
.countryList{
    list-style:none;
    font-size: 14px;
    max-height:333px;
    width: 210px;
    margin:0;
    overflow-y: scroll;
    padding:0;
    font-family: "times new roman";
}

/* graph properties */
#graphsTitle{
    text-anchor:left;
    font-size: 20px;
    pointer-events: none;
    font-family: "times new roman";
}
.graphTip {
    border-style: groove;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    pointer-events: none;
}
.border{
    fill: #edf3f8;
    stroke: #708090;
}
.graphText{
    fill: #708090;
    text-anchor:middle;
    font-size: 10pt;
    pointer-events: none;
    font-family: "times new roman";
}
.graphTitle{
    text-align: center;
    font-size: 14pt;
    pointer-events: none;
    font-family: "times new roman";
}
.graphLine{
    stroke: #d9d9d9;
    pointer-events: none;
}
.graphPath{
    stroke: #811818;
    fill: #da3e3e;
    opacity: .8;
    pointer-events: none;
}
