/* title properties */
.title{
    text-align: center;
}
h1{
	color: #db2525;
}

/* div properties */
.views{
	display:inline-block;
	float: left;
    text-align: left;
    overflow:auto;
}
.padded{
    padding:2px;
}
.container{
    border:2px solid #999999;
}

/*key properties*/
.keyText{
    text-anchor:start;
    font-size: 12px;
    stroke-width: 0.1px;
}
.buttonText{
    text-anchor:center;
    font-size: 14px;
}
.selectedButton{
    fill:#dbe4f0;
    opacity: .3;
    stroke:#708090;
}
.unselectedButton{
    fill:white;
    opacity:0;
}
.axis{
    font-size:12px;
    text-anchor:end;
}
.sort{
    fill:white;
    opacity:0;
}
.sortSelect{
    fill:#dbe4f0;
    opacity:.5;
}
line{
    stroke: #000000;
}

/* chart properties */
.highlight{
    fill:none;
    stroke: #708090;
}

/* map properties */
.countries {
    stroke: #999999;
    fill: #d9d9d9;
}
.selectedCountries {
    stroke: #999999;
    fill: #a3c2db;
}

/* list properties */
.listTitle {
    font-weight: bold;
}
.selectedListItem {
    background: #a3c2db;
}
ul{
    list-style:none;
    font-size: 14px;
    max-height:328px;
    width: 210px;
    margin:0;
    overflow-y: scroll;
    padding:0;
}
